.post-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 800px; */
    /* box-shadow: 0 0 10px 5px #e6e6e6; */
    border-radius: 20px;
    /* width: 900px; */
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.post-new .post-form-content {
    width: 40%;
}

input[type="file"].choose-file-input {
    display: none;
}

.file-field .image-info {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.file-field .image-info span {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.file-field .image-info i {
    margin-left: 10px;
    cursor: pointer;
}

.file-field .image-info i:hover {
    opacity: 0.7;
}